<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class="top-image">
    <div class="bg-mask">
      <p class="header-message">All the world’s a stage, And all the men and women merely players: They have their exits and their entrances; And one man in his time plays many parts, His acts being seven ages.</p>
      <div class="message-transfor">
        <p>〜全世界は一つの舞台であって、すべての男女は、その役者にすぎない。それぞれ舞台に登場してはまた退場していく。人はその時々にいろいろな役を演じる。舞台は年齢によって七幕に分かれているのだ〜</p>
      </div>
    </div>
  </div>
  
</header>