* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  background: url('globe-theatre.png');
  background-size: cover;
  background-position: 50% 10%; 
  position: relative;
}


.bg-mask{
  width: 100vw;
  height: 800px;
  background: rgba(255,255,255,0.5);
  z-index: 0;
  content: “”;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header-message{
  position:absolute;
  text-align: center;
  top:43%;
  left:50%;
  transform:translate(-50%,-50%);
  width:97%;
  font-family: cursive,;
  font-size: 70px;
  z-index: 1;
  color: brown;
  padding: 0%, 50px, 0;
  
}

.message-transfor{
  position:absolute;
  text-align: center;
  top:83%;
  left:50%;
  transform:translate(-50%,-50%);
  width:90%;
  font-family: cursive,;
  font-size: 30px;
  z-index: 1;
  font-family:serif ;
  font-weight:bold;
  color: rgb(59, 10, 18);
  padding: 0%, 500px, 0;
}

.header-text{
  padding-right: 30px;
  font-weight:bold;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}