* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  background: url('globe-theatre.png');
  background-size: contain;
  background-position: 50% 10%; 
  position: relative;
}


.bg-mask{
  width: 100vw;
  height: 800px;
  background: rgba(255,255,255,0.5);
  z-index: 0;
  content: “”;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header-message{
  position:absolute;
  text-align: center;
  top: 39%;
  left:50%;
  transform:translate(-50%,-50%);
  width:97%;
  font-family: cursive,;
  font-size: 70px;
  z-index: 1;
  color: brown;
  padding: 0%, 50px, 0;
  
}

.message-transfor{
  position:absolute;
  text-align: center;
  top:83%;
  left:50%;
  transform:translate(-50%,-50%);
  width:90%;
  font-family: cursive,;
  font-size: 30px;
  z-index: 1;
  font-family:serif ;
  font-weight:bold;
  color: rgb(59, 10, 18);
  padding: 0%, 500px, 0;
}

.header-text{
  padding-right: 30px;
  font-weight:bold;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.navbar {
  min-height: rem;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.outline {
  display        : inline-block;
  color          : #990000;            /* 文字の色 */
  // font-size      : 36pt;               /* 文字のサイズ */
  letter-spacing : 3.5px;                /* 文字間 */
  text-shadow    : 
       2px  2px 1px #257942,
      -2px  2px 1px rgba(0, 157, 191, 0.72),
       2px -2px 1px #e8d174,
      -2px -2px 1px rgba(0, 157, 191, 0.72),
       2px  0px 1px rgba(0, 157, 191, 0.72),
       0px  2px 1px rgba(0, 157, 191, 0.72),
      -2px  0px 1px rgba(0, 157, 191, 0.72),
       0px -2px 1px rgba(0, 157, 191, 0.72);        /* 文字の影 */
}

.outline2{
  display        : inline-block;
  color          : #000000;            /* 文字の色 */
  letter-spacing : 3.8px;                /* 文字間 */
  text-shadow    : 
       2px  2px 1px rgba(153, 153, 153, 0.62),
      -2px  2px 1px rgba(153, 153, 153, 0.62),
       2px -2px 1px rgba(153, 153, 153, 0.62),
      -2px -2px 1px rgba(153, 153, 153, 0.62),
       2px  0px 1px rgba(153, 153, 153, 0.62),
       0px  2px 1px rgba(153, 153, 153, 0.62),
      -2px  0px 1px rgba(153, 153, 153, 0.62),
       0px -2px 1px rgba(153, 153, 153, 0.62);        /* 文字の影 */
}