// Place all the styles related to the performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tag_cloud {
  // width: 1200px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}



.wrap-text{
  display: block;

}

.wrap-comment{
  display: flex;
 
}

.is-block{
  display: flex;
}


.media-content{
size: 80px;
}

.a{
  margin: 7px;
}

.content-group{
  display: block;
justify-content: center;
align-items: center;
}

.panel-block-show {
  align-items: center;
  color: #363636;
  display: initial;
  justify-content: flex-start;
  padding: 0.5em 0.75em;
}