

<% if group_signed_in? %>
  <%= "ようこそ、#{current_group.name}様" %>
<% elsif user_signed_in? %>
  <strong><%= "ようこそ、#{current_user.nickname}様" %></strong>
<% end %>

  
<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        公演一覧
      </h1>
    </div>
  </div>
</section>



<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @performances.each do |perform| %>
        <tr class="performance_<%= perform.id %>">
          <%= render "performance", perform: perform  %>
        </tr>
      <% end %>
    </div>
  </div>
</section>


